#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define L_DEFAULT 0
#define L_NUM     1
#define L_SYM     2
#define L_NAV     3
#define L_BT      4

//------------------------------------------------------------------------------
// Defaults
//------------------------------------------------------------------------------

&lt {
  tapping-term-ms = <150>;
  flavor = "hold-preferred";
  quick-tap-ms = <300>;
};

&mt {
  quick-tap-ms = <300>;
};


/ {

  //----------------------------------------------------------------------------
  // Combos
  //----------------------------------------------------------------------------

  combos {
    compatible = "zmk,combos";

    combo_backspace {
      timeout-ms = <30>;
      layers = <L_DEFAULT>;
      key-positions = <6 16>;
      bindings = <&kp BSPC>;
    };

    combo_delete {
      timeout-ms = <30>;
      layers = <L_DEFAULT>;
      key-positions = <3 13>;
      bindings = <&kp DEL>;
    };
  };

  //----------------------------------------------------------------------------
  // Behaviors
  //----------------------------------------------------------------------------

  behaviors {
    mtb: balanced_mod_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <250>;
      quick-tap-ms = <300>;
      require-prior-idle-ms = <125>;
      bindings = <&kp>, <&kp>;
      display-name = "Balanced-Mod-Tap";
    };

    ltb: balanced_layer_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <250>;
      quick-tap-ms = <300>;
      require-prior-idle-ms = <125>;
      bindings = <&mo>, <&kp>;
      display-name = "Balanced-Layer-Tap";
    };
  };

  //----------------------------------------------------------------------------
  // Conditional layers
  //----------------------------------------------------------------------------

  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <L_NUM L_SYM>;
      then-layer = <L_BT>;
    };
  };

  //----------------------------------------------------------------------------
  // Keymap
  //----------------------------------------------------------------------------

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp SQT &kp COMMA &kp DOT &kp P &kp Y
        &kp F &kp G &kp C &kp R &kp L

        &kp A &mtb LALT O &mtb LCTRL E &mtb LGUI U &kp I
        &kp D &mtb LGUI H &mtb LCTRL T &mtb LALT N &kp S

        &kp SEMI &kp Q &kp J &kp K &kp X
        &kp B &kp M &kp W &kp V &kp Z

        &mt LSHIFT BSPC &lt L_SYM TAB &lt L_NUM ENTER &ltb L_NAV SPACE
      >;
    };

    num_layer {
      bindings = <
        &none &trans &trans &none &none
        &none &kp LC(LS(TAB)) &kp LC(TAB) &none &none

        &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
        &kp N6 &kp N7 &kp N8 &kp N9 &kp N0

        &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT
        &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR

        &none &caps_word &none &none
      >;
    };

    sym_layer {
      bindings = <
        &none &none &kp LBRC &kp RBRC &none
        &none &kp LBKT &kp RBKT &none &none

        &kp TILDE &kp GRAVE &kp QMARK &kp FSLH &kp LC(UP)
        &none &kp MINUS &kp UNDER &none &none

        &none &none &kp PIPE &kp BSLH &none
        &none &kp PLUS &kp EQUAL &none &none

        &trans &trans &trans &trans
      >;
    };

    nav_layer {
      bindings = <
        &trans &trans &trans &trans &trans
        &kp LC(LG(Q)) &kp HOME &kp PGDN &kp PGUP &kp END

        &trans &trans &trans &trans &trans
        &none &kp LEFT &kp DOWN &kp UP &kp RIGHT

        &trans &trans &trans &trans &trans
        &kp LC(LS(SPACE)) &kp LC(LS(LEFT)) &kp LC(LS(DOWN)) &kp LC(LS(UP)) &kp LC(LS(RIGHT))

        &kp ESC &kp DEL &none &none
      >;
    };

    bluetooth_layer {
      bindings = <
        &bt BT_CLR_ALL &none &none &none &none
        &none &none &none &none &none

        &bt BT_SEL 0 &bt BT_SEL 1 &none &none &none
        &none &out OUT_BLE &out OUT_USB &none &none

        &bt BT_DISC 0 &bt BT_DISC 1 &none &none &none
        &none &none &none &none &none

        &none &none &none &none
      >;
    };

  };
};
