if SHIELD_JLKS_LEFT

config ZMK_KEYBOARD_NAME
  default "jlks"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_JLKS_LEFT || SHIELD_JLKS_RIGHT

config ZMK_SPLIT
  default y

config ZMK_KSCAN_DIRECT_POLLING
  default y

config ZMK_SLEEP
  default y

config ZMK_IDLE_SLEEP_TIMEOUT
  default 300000

config ZMK_EXT_POWER
  default n

endif
