#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMBERS 1
#define SYMBOLS 2
#define HOLD    3

&lt {
  tapping-term-ms = <150>;
};

&sl {
  release-after-ms = <1000>;
};

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp SQT  &kp COMMA &kp DOT &kp P &kp Y &kp F &kp G &kp C &kp R &kp L
        &kp A    &kp O     &kp E   &kp U &kp I &kp D &kp H &kp T &kp N &kp S
        &kp SEMI &kp Q     &kp J   &kp K &kp X &kp B &kp M &kp W &kp V &kp Z
        &lt LSHIFT $sl SYMBOLS &lt NUMBERS ESC &lt HOLD TAB &kp SPACE 
        >;
    };

    number_layer {
      bindings = <
        &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans
        &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
        &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans
        &kp trans &kp trans &kp trans &kp trans
        >;
    };

    symbol_layer {
      bindings = <
        &kp trans &kp QMARK &kp PLUS  &kp MINUS &kp trans &kp trans &kp LBRC &kp RBRC &kp BSLH &kp trans
        &kp TILDE &kp FSLH  &kp EQUAL &kp UNDER &kp trans &kp trans &kp LBKT &kp RBKT &kp PIPE &kp GRAVE
        &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
        &kp trans &kp trans &kp trans &kp trans
        >;
    };

    hold_layer {
      bindings = <
        &kp trans &kp trans &kp UP    &kp trans &kp trans &kp trans &kp trans &kp LC(LS(TAB)) &kp LC(TAB)  &kp trans
        &kp trans &kp LEFT  &kp RIGHT &kp DOWN  &kp trans &kp DEL   &kp BSPC  &kp BSPC        &kp LC(BSPC) &kp LA(BSPC)
        &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans &kp trans       &kp trans    &kp trans
        &kp trans &kp trans &kp trans &kp trans
        >;
    };

  };
};
