#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMBERS 1
#define SYMBOLS 2
#define HOLD    3

&lt {
  tapping-term-ms = <150>;
};

&sl {
  release-after-ms = <1000>;
};


/ {

  //----------------------------------------------------------------------------
  // Combos
  //----------------------------------------------------------------------------

  combos {
    compatible = "zmk,combos";

    combo_ctrl {
      timeout-ms = <25>;
      key-positions = <12 13>;
      bindings = <&kp LCTRL>;
    };

    combo_alt {
      timeout-ms = <25>;
      key-positions = <11 12>;
      bindings = <&kp LALT>;
    };

    combo_cmd {
      timeout-ms = <25>;
      key-positions = <11 12 13>;
      bindings = <&kp LCMD>;
    };

    combo_ent {
      timeout-ms = <25>;
      key-positions = <16 17>;
      bindings = <&kp ENTER>;
    };

    combo_pgup {
      timeout-ms = <25>;
      key-positions = <7 8>;
      bindings = <&kp PG_UP>;
    };

    combo_pgdn {
      timeout-ms = <25>;
      key-positions = <6 7>;
      bindings = <&kp PG_DN>;
    };
  };

  //----------------------------------------------------------------------------
  // Macros
  //----------------------------------------------------------------------------

  macros {
    less_eq: less_eq {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_tap &kp LT &kp EQUAL>
        ;
    };

    two_tab: two_tab {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_tap &kp TAB &kp TAB>
        ;
    };

    four_tab: four_tab {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_tap &kp TAB &kp TAB &kp TAB &kp TAB>
        ;
    };
  };

  //----------------------------------------------------------------------------
  // Custom layer switching
  //----------------------------------------------------------------------------

  behaviors {
    mo_st: behavior_mo_st {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      bindings = <&kp>, <&sl>;
    };
  };

  //----------------------------------------------------------------------------
  // Keymap
  //----------------------------------------------------------------------------

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp SQT  &kp COMMA &kp DOT &kp P &kp Y &kp F &kp G &kp C &kp R &kp L
        &kp A    &kp O     &kp E   &kp U &kp I &kp D &kp H &kp T &kp N &kp S
        &kp SEMI &kp Q     &kp J   &kp K &kp X &kp B &kp M &kp W &kp V &kp Z
        &mo_st LSHIFT SYMBOLS &lt NUMBERS ESC &lt HOLD TAB &kp SPACE 
        >;
    };

    number_layer {
      bindings = <
        &trans &trans    &trans &trans &trans &trans &trans &trans &trans &trans
        &kp N1 &kp N2    &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
        &trans &kp COLON &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans    &trans &trans
        >;
    };

    symbol_layer {
      bindings = <
        &trans    &kp QMARK &kp PLUS  &kp MINUS &trans    &trans    &kp LBRC &kp RBRC &kp BSLH &trans
        &kp TILDE &kp FSLH  &kp EQUAL &kp UNDER &less_eq  &trans    &kp LBKT &kp RBKT &kp PIPE &kp GRAVE
        &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
        &trans &trans &trans &trans
        >;
    };

    hold_layer {
      bindings = <
        &trans &trans   &kp UP    &trans   &trans &two_tab &four_tab &kp LC(LS(TAB)) &kp LC(TAB)  &trans
        &trans &kp LEFT &kp RIGHT &kp DOWN &trans &kp DEL  &kp BSPC  &kp BSPC        &kp LC(BSPC) &kp LA(BSPC)
        &trans &trans   &trans    &trans   &trans &trans   &trans    &trans          &trans       &trans
        &caps_word &trans &trans &trans
        >;
    };

  };
};
