#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMBOLS 1
#define HOLD    2
#define NUMBERS 3

&lt {
  tapping-term-ms = <150>;
};

&sl {
  release-after-ms = <1000>;
};

&sk {
  release-after-ms = <1000>;
  quick-release;
};


/ {

  //----------------------------------------------------------------------------
  // Combos
  //----------------------------------------------------------------------------

  combos {
    compatible = "zmk,combos";

    combo_ctrl {
      timeout-ms = <25>;
      key-positions = <12 13>;
      bindings = <&sk LCTRL>;
    };

    combo_alt {
      timeout-ms = <25>;
      key-positions = <11 12>;
      bindings = <&sk LALT>;
    };

    combo_cmd {
      timeout-ms = <25>;
      key-positions = <11 12 13>;
      bindings = <&sk LCMD>;
    };

    combo_pgup {
      timeout-ms = <25>;
      key-positions = <3 4>;
      bindings = <&kp PG_UP>;
    };

    combo_pgdn {
      timeout-ms = <25>;
      key-positions = <13 14>;
      bindings = <&kp PG_DN>;
    };

    combo_fslh {
      timeout-ms = <25>;
      key-positions = <6 7>;
      bindings = <&kp FSLH>;
    };

    combo_bslh {
      timeout-ms = <25>;
      key-positions = <7 8>;
      bindings = <&kp BSLH>;
    };

    combo_minus {
      timeout-ms = <25>;
      key-positions = <16 17>;
      bindings = <&kp MINUS>;
    };

    combo_equal {
      timeout-ms = <25>;
      key-positions = <17 18>;
      bindings = <&kp EQUAL>;
    };

    combo_lbkt {
      timeout-ms = <25>;
      key-positions = <26 27>;
      bindings = <&kp LBKT>;
    };

    combo_rbkt {
      timeout-ms = <25>;
      key-positions = <27 28>;
      bindings = <&kp RBKT>;
    };
  };

  //----------------------------------------------------------------------------
  // Macros
  //----------------------------------------------------------------------------

  macros {
    less_eq: less_eq {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_tap &kp LT &kp EQUAL>
        ;
    };

    two_tab: two_tab {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_tap &kp TAB &kp TAB>
        ;
    };

    four_tab: four_tab {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&macro_tap &kp TAB &kp TAB &kp TAB &kp TAB>
        ;
    };
  };

  //----------------------------------------------------------------------------
  // Custom layer switching
  //----------------------------------------------------------------------------

  behaviors {
    mo_st: behavior_mo_st {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      bindings = <&kp>, <&sl>;
    };
  };

  //----------------------------------------------------------------------------
  // Keymap
  //----------------------------------------------------------------------------

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp SQT  &kp COMMA &kp DOT &kp P &kp Y &kp F &kp G &kp C &kp R &kp L
        &kp A    &kp O     &kp E   &kp U &kp I &kp D &kp H &kp T &kp N &kp S
        &kp SEMI &kp Q     &kp J   &kp K &kp X &kp B &kp M &kp W &kp V &kp Z
        &mt LSHIFT ESC &lt HOLD TAB &lt NUMBERS ENTER &kp SPACE
      >;
    };

    symbol_layer {
      bindings = <
        &trans    &kp QMARK &kp PLUS  &kp MINUS &trans    &trans    &kp LBRC &kp RBRC &kp BSLH &trans
        &kp TILDE &kp FSLH  &kp EQUAL &kp UNDER &less_eq  &trans    &kp LBKT &kp RBKT &kp PIPE &kp GRAVE
        &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
        &trans &trans &trans &trans
      >;
    };

    hold_layer {
      bindings = <
        &trans &trans   &kp UP   &trans    &kp PG_UP &two_tab &four_tab &kp LC(LS(TAB)) &kp LC(TAB)  &trans
        &trans &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &kp DEL  &kp BSPC  &kp BSPC        &kp LC(BSPC) &kp LA(BSPC)
        &trans &trans   &trans   &trans    &trans    &trans   &trans    &trans          &trans       &trans
        &trans &trans &trans &trans
      >;
    };

    number_layer {
      bindings = <
        &trans   &trans &trans   &trans   &trans    &trans    &trans   &trans   &trans   &trans
        &kp N1   &kp N2 &kp N3   &kp N4   &kp N5    &kp N6    &kp N7   &kp N8   &kp N9   &kp N0
        &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
        &trans &caps_word &trans &trans
      >;
    };

  };
};
